<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Flashcard.kitchen</title>
    <link href="styles/style.css" rel="stylesheet">
    <script src="components/jquery/dist/jquery.min.js"></script>
    <script src="components/Chart.js/Chart.min.js"></script>
    <script src="components/angular/angular.min.js"></script>
    <script src="components/angular-messages/angular-messages.min.js"></script>
    <script src="components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="components/angular-jwt/dist/angular-jwt.min.js"></script>
    <script src="components/angular-chart.js/dist/angular-chart.min.js"></script>
    <script src="components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
    <script src="components/angularUtils-pagination/dirPagination.js"></script>
    <script src="components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="components/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="scripts/app.js"></script>
  </head>

  <body ng-app="flashcard">
    <nav ng-controller="mainMenuController as controller" class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ui-sref="home">Flashcard</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li ng-if="controller.getJwt() != null"><a href="#" ng-click="controller.logout()">Sign Out</a></li>
            <li ng-if="controller.getJwt() == null"><a ui-sref="login">Sign In</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container content-container">
      <div ui-view></div>
    </div><!-- /.container -->

    <footer style="margin-top: 100px;text-align: center;">
      <span>© 2016 Romana Dorfer</span>
      <a href="http://stage.sexy/about/site_notice" target="_blank">Site Notice</a>
    </footer>

  </body>
</html>
