<div ng-controller="flashcardSetHistoryController as controller" style="margin-top:20px">
  <uib-accordion close-others="false">
    <uib-accordion-group heading="Alteration time: {{ flashcardSetRevision.createdAt | date:'medium' }}" dir-paginate="flashcardSetRevision in controller.flashcardSetRevisions | itemsPerPage: controller.revisionsPerPage" total-items="controller.totalLengthOfFlashcardSetRevisions" current-page="controller.pagination.current">
      <p class="pull-right">User: {{ flashcardSetRevision.userEmail }}</p>
      <h1>{{ flashcardSetRevision.flashcardSetRevision.title }}</h1>
      <p>{{ flashcardSetRevision.flashcardSetRevision.description }}</p>
      <strong ng-show="flashcardSetRevision.flashcardSetRevision.swapQuestionsWithAnswersRandomly">Questions and answers are swapped randomly</strong>
      <ul class="list-group" style="margin-top:20px">
        <li href="#" class="list-group-item" ng-repeat="flashcard in flashcardSetRevision.flashcardSetRevision.flashcards">
          <h4 class="list-group-item-heading">Question {{ $index + 1 }}: {{ flashcard.question }}</h4>
          <div class="image-container">
            <img ng-src="{{ flashcard.questionImageUrl }}" class="img-responsive">
          </div>
          <p class="list-group-item-text">Answer: {{ flashcard.answer }}</p>
          <div class="image-container">
            <img ng-src="{{ flashcard.answerImageUrl }}" class="img-responsive">
          </div>
        </li>
      </ul>
    </uib-accordion-group>
  </uib-accordion>
  
  <dir-pagination-controls on-page-change="controller.getRevisionsPage(newPageNumber)"></dir-pagination-controls>
</div>