<div ng-controller="flashcardController as controller">
  Compartment {{ controller.flashcard.compartmentIndex }}
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="flashcard">
        <div class="question">
          Question:
          <br>
          <span style="font-size:x-large; white-space: pre-wrap;">{{ controller.flashcard.question }}</span>
          <div ng-show="controller.flashcard.questionImageUrl != undefined" class="image-container">
            <img ng-src="{{ controller.flashcard.questionImageUrl }}" class="img-responsive">
          </div>
          <a ng-show="controller.flashcard.questionImageUrl != undefined" href="{{ controller.flashcard.questionImageUrl }}" target="_blank">Show in original size</a>
        </div>
        <div style="margin-top: 30px;" ng-if="controller.answerVisible">
          Answer:
          <br>
          <span style="font-size:x-large; white-space: pre-wrap;">{{ controller.flashcard.answer }}</span>
          <div ng-show="controller.flashcard.answerImageUrl != undefined" class="image-container">
            <img ng-src="{{ controller.flashcard.answerImageUrl }}" class="img-responsive">
          </div>
          <a ng-show="controller.flashcard.answerImageUrl != undefined" href="{{ controller.flashcard.answerImageUrl }}" target="_blank">Show in original size</a>
        </div>
      </div>
      <button class="btn btn-lg btn-default btn-block" ng-click="controller.setAnswerVisible()" type="submit" ng-disabled="controller.answerVisible">Show Answer</button>
      <div class="row" style="margin-top:10px;">
        <div class="col-xs-6">
          <button class="btn btn-lg btn-success btn-block" ng-click="controller.known()" type="submit" ng-disabled="!controller.answerVisible">Known</button>
        </div>
        <div class="col-xs-6">
          <button class="btn btn-lg btn-danger btn-block" ng-click="controller.unknown()" type="submit" ng-disabled="!controller.answerVisible">Unknown</button>
        </div>
      </div>
    </div>
  </div>
</div>