<div ng-controller="editFlashcardSetController as controller">
  <div class="alert alert-success" role="alert" ng-show="controller.message">
    {{ controller.message }}
  </div>
  <ul class="nav nav-tabs">
    <li role="presentation" ng-class="{active: controller.$state.includes('flashcard-set.get')}">
      <a ui-sref="flashcard-set.get({id: controller.flashcardSet._key})">Flashcard Set</a>
    </li>
    <li role="presentation" ng-class="{active: controller.$state.includes('flashcard-set.edit')}">
      <a ui-sref="flashcard-set.edit({id: controller.flashcardSet._key})">Edit</a>
    </li>
    <li role="presentation" ng-class="{active: controller.$state.includes('flashcard-set.history')}">
      <a ui-sref="flashcard-set.history({id: controller.flashcardSet._key})">History</a>
    </li>
  </ul>

  <div ui-view></div>
</div>