<div ng-controller="newFlashcardSetController as controller">
  <flashcard-set-form-directive onsubmit="controller.create()" flashcardset="controller.flashcardSet"></flashcard-set-form-directive>
</div>