<div ng-controller="editFlashcardSetController as controller">
  <div style="margin-top:30px;"></div>
  <flashcard-set-form-directive onsubmit="controller.update()" flashcardset="controller.flashcardSet"></flashcard-set-form-directive>
</div>