<div ng-controller="editFlashcardSetController as controller">
  <div class="row">
    <div class="col-sm-4 col-sm-push-8">
      <a class="btn btn-primary pull-right" ui-sref="flashcard-set-learn({id: controller.flashcardSet._key})" role="button" style="margin-top:5px;margin-bottom:10px;" ng-class="{'disabled': (controller.flashcardSet.flashcards.length === 0)}" role="button">
        Start Learning
        <span ng-if="controller.flashcardSet.flashcardCompartmentInfo[0] === 0 && controller.flashcardSet.flashcardCompartmentInfo[1] === 0 && controller.flashcardSet.flashcardCompartmentInfo[2] === 0 && controller.flashcardSet.flashcardCompartmentInfo[3] === 0 && controller.flashcardSet.flashcardCompartmentInfo[4] === 0">
          Again
        </span>
      </a>
      <canvas id="doughnut" class="chart chart-doughnut" chart-data="controller.flashcardSet.flashcardCompartmentInfo" chart-labels="['Compartment 0', 'Compartment 1', 'Compartment 2', 'Compartment 3', 'Compartment 4', 'Compartment 5']" chart-colours="['#ad0000', '#ff0000', '#ff410b', '#ff7e00', '#c7ff00', '#00ff1b']" ng-show="controller.flashcardSet.flashcardCompartmentInfo.length > 0">
      </canvas>
    </div>
    <div class="col-sm-8 col-sm-pull-4">
      <h1>{{ controller.flashcardSet.title }}</h1>
      <p>{{ controller.flashcardSet.description }}</p>
      <ul>
        <li ng-repeat="flashcard in controller.flashcardSet.flashcards">{{ flashcard.question }}</li>
      </ul>
    </div>
    
  </div>
</div>