<div ng-controller="homeController as controller">
  <div class="row">
    <div class="col-sm-2 col-sm-push-10">
      <a class="btn btn-default btn-right" href="{{'#/flashcard-set/new' }}" role="button">New</a>
    </div>
    <div class="col-sm-10 col-sm-pull-2">
      <h1>Welcome</h1>
    </div>
  </div>
  <div class="list-group">
    <flashcard-set-preview-directive id="flashcardSet._key" title="flashcardSet.title" description="flashcardSet.description" dir-paginate="flashcardSet in controller.flashcardSets | itemsPerPage: controller.flashcardSetsPerPage" total-items="controller.totalLengthOfFlashcardSets" current-page="controller.pagination.current"></flashcard-set-preview-directive>
  </div>

  <dir-pagination-controls on-page-change="controller.getFlashcardSetsPage(newPageNumber)"></dir-pagination-controls>
</div>