<div ng-controller="loginController as controller">
  <div class="alert alert-danger" role="alert" ng-show="controller.error">
    {{ controller.error }}
  </div>
  <form ng-submit="controller.login()" name="loginForm">
    <div class="form-group" ng-class="{'has-error': (loginForm.email.$invalid && loginForm.email.$dirty)}">
      <input type="email" class="form-control" id="login-email" name="email" ng-model="controller.credentials.email" placeholder="Email" required>
      <ng-messages for="loginForm.email.$error" multiple>
        <ng-messages-include src="/directives/errors.html"></ng-messages-include>
      </ng-messages>
    </div>
    <div class="form-group" ng-class="{'has-error': (loginForm.password.$invalid && loginForm.password.$dirty)}">
      <input type="password" class="form-control" id="login-password" name="password" ng-model="controller.credentials.password" placeholder="Password" required>
      <ng-messages for="loginForm.password.$error" multiple>
        <ng-messages-include src="/directives/errors.html"></ng-messages-include>
      </ng-messages>
    </div>
    <hr class="divider">
    <div class="form-group">
      <input type="submit" class="btn btn-default" value="Login" ng-disabled="loginForm.$invalid"/>
    </div>
  </form>
</div>