<span class="help-block" ng-message="required">can't be blank</span>
<span class="help-block" ng-message="minlength">is too short</span>
<span class="help-block" ng-message="maxlength">is too long</span>
<span class="help-block" ng-message="email">invalid email</span>
<span class="help-block" ng-message="maxSize">file must be smaller than 2 MB</span>