<form ng-submit="onSubmit()" name="flashcardSetForm">
  <div class="form-group" ng-class="{'has-error': (flashcardSetForm.flashcardSet.$invalid && flashcardSetForm.flashcardSet.$dirty)}">
    <input type="text" class="form-control" id="flashcard-sets-title" name="flashcardSet" ng-model="flashcardSet.title" placeholder="Title" required ng-minlength="3" ng-maxlength="30" />
    <ng-messages for="flashcardSetForm.flashcardSet.$error" multiple>
      <ng-messages-include src="/directives/errors.html"></ng-messages-include>
    </ng-messages>
  </div>
  <div class="form-group" ng-class="{'has-error': (flashcardSetForm.flashcardSetDescription.$invalid && flashcardSetForm.flashcardSetDescription.$dirty)}">
    <textarea rows="3" class="form-control" id="flashcard-sets-description" name="flashcardSetDescription" ng-model="flashcardSet.description" placeholder="Description" ng-maxlength="300"/>
    <ng-messages for="flashcardSetForm.flashcardSetDescription.$error" multiple>
      <ng-messages-include src="/directives/errors.html"></ng-messages-include>
    </ng-messages>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="flashcardSet.swapQuestionsWithAnswersRandomly"> Swap questions with answers randomly
    </label>
  </div>
  <div ng-repeat="flashcard in flashcardSet.flashcards" ng-form="flashcardForm">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-10">
            <h4>Question {{ $index + 1 }}</h4>
          </div>
          <div class="col-xs-2">
            <a class="btn btn-default btn-sm btn-danger btn-right" id="flashcard-sets-delete-flashcard" href="#" role="button" ng-click="deleteFlashcard($event, $index)"><i class="fa fa-trash"></i> Delete</a>
          </div>
        </div>
        <div class="form-group" ng-class="{'has-error': (flashcardForm.flashcardQuestion.$invalid && flashcardForm.flashcardQuestion.$dirty)}">
          <textarea rows="3" class="form-control" id="flashcard-question" name="flashcardQuestion" ng-model="flashcard.question" placeholder="Question" required ng-minlength="3" ng-maxlength="10000"/>
          <ng-messages for="flashcardForm.flashcardQuestion.$error" multiple>
            <ng-messages-include src="/directives/errors.html"></ng-messages-include>
          </ng-messages>
        </div>
        <img ng-if="flashcardForm.flashcardQuestionImageFile.$valid && !flashcard.deleteQuestionImageFile" ngf-thumbnail="flashcard.questionImageFile || flashcard.questionImageUrl" class="img-responsive">
        <div class="from-group image-container" ng-class="{'has-error': (flashcardForm.flashcardQuestionImageFile.$invalid && flashcardForm.flashcardQuestionImageFile.$dirty)}">  
          <input type="file" ngf-select ng-model="flashcard.questionImageFile" name="flashcardQuestionImageFile" accept="image/*" ngf-model-invalid="flashcard.invalidQuestionImageFiles" ngf-resize="{width: 1000, height: 1000, quality: .8, type: 'image/jpeg'}" ngf-resize-if="$width > 1000 || $height > 1000"/>
          <ng-messages for="flashcardForm.flashcardQuestionImageFile.$error" multiple>
            <ng-messages-include src="/directives/errors.html"></ng-messages-include>
          </ng-messages>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="flashcard.deleteQuestionImageFile"> Delete image for question
          </label>
        </div>

        <hr class="divider">

        <div class="form-group" ng-class="{'has-error': (flashcardForm.flashcardAnswer.$invalid && flashcardForm.flashcardAnswer.$dirty)}">
          <textarea rows="3" class="form-control" id="flashcard-answer" name="flashcardAnswer" ng-model="flashcard.answer" placeholder="Answer" required ng-minlength="3" ng-maxlength="10000"/>
          <ng-messages for="flashcardForm.flashcardAnswer.$error" multiple>
            <ng-messages-include src="/directives/errors.html"></ng-messages-include>
          </ng-messages>
        </div>
        <img ng-show="flashcardForm.flashcardAnswerImageFile.$valid && !flashcard.deleteAnswerImageFile" ngf-thumbnail="flashcard.answerImageFile || flashcard.answerImageUrl" class="img-responsive">
        <div class="from-group image-container" ng-class="{'has-error': (flashcardForm.flashcardAnswerImageFile.$invalid && flashcardForm.flashcardAnswerImageFile.$dirty)}"> 
          <input type="file" ngf-select ng-model="flashcard.answerImageFile" name="flashcardAnswerImageFile" accept="image/*" ngf-model-invalid="flashcard.invalidAnswerImageFiles" ngf-resize="{width: 1000, height: 1000, quality: .8, type: 'image/jpeg'}" ngf-resize-if="$width > 1000 || $height > 1000"/>
          <ng-messages for="flashcardForm.flashcardAnswerImageFile.$error" multiple>
            <ng-messages-include src="/directives/errors.html"></ng-messages-include>
          </ng-messages>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="flashcard.deleteAnswerImageFile"> Delete image for answer
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <a class="btn btn-default btn-sm" id="flashcard-sets-add-flashcard" href="#" role="button" ng-click="addFlashcard($event)"><i class="fa fa-plus"></i> Add Flashcard</a>
  </div>
  <hr class="divider">
  <div class="form-group">
    <input type="submit" class="btn btn-default" value="Submit" ng-disabled="flashcardSetForm.$invalid" ng-click="pleaseWait = true"/>
    <span ng-show="pleaseWait">
      <i class="fa fa-spinner fa-spin fa-lg"></i>
      Please wait...
    </span>
  </div>
</form>